:root {
    --mobile-H: 568px;
    --desktop-H: 800px;
    --prompt: 'Prompt', sans-serif;
    --open-sans: 'Open Sans Condensed', sans-serif;
    --white: white;
    --mobile-W: 320px;
    --font-45: 45px;
    --font-40: 40px;
    --font-35: 35px;
    --font-30: 30px;
    --font-25: 25px;
    --font-20: 20px;
    --font-18: 18px;
    --font-16: 16px;
    --font-14: 14px;
    --font-10: 10px;
    --black: black;
    --gray: #F5F5F5;
    --p100: 100%;
    --p50: 50%;
    --shadow-desk: 0px 21px 25px -3px rgba(0, 0, 0, 0.2);
}

/* //////////        ICONS COLORS          ////////////// */

.i--html i{
    color: #f14a29;
}

.i--css i{
    color: #01b5f2;
}

.i--js i{
    color: #f7e018;
}

.i--py i{
    color: #3771a2;
}

.i--boots i{
    color: #7952b3;
}

.i--vue i{
    color: #3fb984;
}

.i--node i{
    color: #3c873a;
}

.i--dkr i{
    color: #2496ec;
}

.i--git i{
    color: #f05030;
}

/* //////////        STANDAR          ////////////// */

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--open-sans);
}

p, h3 {
    font-family: var(--prompt);
}

a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.go_up {
    position: fixed;
    z-index: 3;
    right: 45px;
    bottom: 45px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(195, 195, 195, .42);
}

/* //////////        HEADER          ////////////// */

header {
    height: 855px;
    width: var(--p100);
    /* display: flex; */
    overflow: hidden;
    box-sizing: border-box;
}

nav {
    width: var(--p100);
    display: flex;
    position: absolute;
    justify-content: space-between;
}

nav .header__logo {
    margin: 50px 80px;
    z-index: 2;
}

nav .header__logo p {
    font-family: var(--prompt);
    font-weight: bold;
    margin: 0;
    color: var(--white);
    font-size: 20px;
}

nav .header__lenguage {
    margin: 50px;
    z-index: 2;
    display: none;
}

nav .header__lenguage span {
    color: white;
    font-family: var(--prompt);
    border: 2px solid var(--white);
    padding: 10px 15px;
    font-size: var(--font-20);
}

nav .header__menu i{
    color: var(--white);
    font-size: 45px;
}

header .header__img img {
    width: var(--p100);
}

header .header__icons {
    width: var(--p100);
    color: var(--white);
    position: absolute;
    display: flex;
    top: 300px;
    justify-content: space-around;
}


header .h__icon {
    text-align: center;
}

header .h__icon i {
    font-size: var(--font-35);
}

header .h__icon p {
    font-size: var(--font-20);
}

header .header__txt {
    position: absolute;
    width: var(--p100);
    text-align: center;
    color: var(--white);
    top: 485px;
    box-sizing: border-box;
    padding: 10px;
    /* font-family: var(--open-sans); */
}

header .wrapper {
    /* height: 80px; */
    display: grid;
    place-items: center;
}

header .header__txt h1 {
    font-size: var(--font-45);
    font-weight: 900;
    margin: 0 20px 30px 20px ;
}

header .header__txt p {
    font-size: var(--font-30);
    margin: 0 40px;
}

/* //////////        SKILLS         ////////////// */

.skills {
    width: var(--p100);
    text-align: center;
    box-sizing: border-box;
}

.skills h1 {
    font-size: var(--font-45);
    margin: 60px 0;
}

.skills p {
    font-size: var(--font-30);
    margin: 25px 20px;
}

.skiils__content {
    margin-top: 90px;
}

.skiils__content h3 {
    font-size: var(--font-30);
}

.skills__icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
}

.skill--icon {
    margin: 8px 15px;
    font-size: 130px;
}

.skill--icon p{
    font-size: var(--font-25);
    margin: 30px 0;
    font-weight: bolder;
}

.i--twcss p{
    color: #1ab1ba;
    font-weight: 500;
    font-size: var(--font-45);
    position: relative;
    top: 15px
}

.skills_softs {
    background: var(--black);
    color: white;
    box-sizing: border-box;
    display: flex;
    margin-top: 65PX;
    height: var(--desktop-H);
    overflow: hidden;
}

.skills_soft_txt {
    width: var(--p50);
    padding-top: 50px;
    margin-left: 75px;
}

.skills_soft_txt h3 {
    font-size: var(--font-30);
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 50px;
}

.soft__skills--list {
    text-align: initial;
}
.soft__skills--list li {
    font-family: var(--prompt);
    font-size: var(--font-30);
}

.skills_soft_img {
    width: var(--p50);
}

.skills_soft_img img {
    width: var(--p100);
    position: relative;
    bottom: 330px;
}

/* //////////        WORK         ////////////// */

.work__txt {
    text-align: center;
    margin-bottom: 90px;
}

.work__txt h1 {
    font-size: var(--font-45);
    margin: 100px 0 50px 0;
}

.work__txt p {
    font-size: var(--font-30);
    margin: 40px 90px;
}

.work__proyects {
    margin: 100px 0;
}

.work__proyect {
    text-align: center;
    box-shadow: var(--shadow-desk);
    font-size: var(--font-25);
    margin: 0 65px 65px;
}

.proyect--title {
    background: var(--black);
}


.proyect--title h3 {
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.proyect__content {
    display: flex;
}

.proyect--img {
    width: var(--p50);
    display: flex;
    align-items: center;
}

.proyect--img img {
    width: 100%;
}

.proyect--detail {
    width: var(--p50);
}

.proyect--detail--text {
    text-align: justify;
    padding: 0 40px 0 20px;
}

.proyect--detail--text ul {
    font-family: var(--prompt);
}

.proyect--detail--more {
    display: none;
    background: var(--gray);
}

/* //////////        ABOUT         ////////////// */
.about {
    display: flex;
    overflow: hidden;
    height: 1500px;
}

.about__img {
    width: 50%;
}

.about__img img {
    width: var(--p100);
}

.about__text {
    background: var(--black);
    color: white;
    width: 50%;
    text-align: center;
    padding: 60px;
    box-sizing: border-box;
}

.about__text h1{
    font-size: var(--font-45);
    margin-top: 100px;
}

.about__text p {
    font-size: var(--font-30);
    margin: 70px 0;
}

.about__text > .social--p {
    margin: 170px 0 100px 0;
    font-size: var(--font-35);
}

.social {
    display: flex;
    justify-content: space-around;
}

.social--icon {
    font-size: 100px;
    margin-top: 20px;
}

.social--icon a {
    color: var(--white);
}

.social--icon a > p {
    font-size: var(--font-16);
    margin: 20px;
}

.i--github a > p {
    margin: 20px 0;
}

/* //////////        FOOTER         ////////////// */

footer {
    background: var(--black);
    color: var(--white);
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
}

/* //////////        MEDIAQUERYS         ////////////// */

@media screen and (max-width: 1581px) {
    .skills_soft_img img {
        bottom: 0px;
    }

    .about__text {
        padding: 0 40px;
    }

    .about__text p {
        margin: 30px 0
    }
}

@media screen and (max-width: 1383px) {
    
    .proyect__content {
        display: block;
    }

    .proyect--img {
        width: var(--p100);
    }

    .proyect--detail {
        width: var(--p100);
        font-size: var(--font-25);
        padding-bottom: 30px;
    }
    
    .proyect--detail--text p{
        margin: 30px 50px;
    }

    .proyect--detail--text ul {
        margin: 30px 70px;
    }
    
    .about {
        height: 1280px;
    }

    .about__text > .social--p {
        margin: 100px 0 50px 0;
    }
}

@media screen and (max-width: 1246px) {
    .about {
        height: 1230px;
    }

    .about__text > .social--p {
        margin: 30px 0;
        font-size: var(--font-30);
    }

    .social--icon {
        font-size: 65px;
    }
}

@media screen and (max-width: 1152px) {
    .skills_softs {
        height: 600px;
    }

    .skills_soft_txt {
        margin-left: 30px;
        padding: 0;
    }

    .skills_soft_txt h3 {
        margin: 30px 0;
    }
    
    .about__text p {
        font-size: 28px;
    }
    
    .about__text .social--p {
        font-size: 28px;
        margin: 30px 0;
    }   
}

@media screen and (max-width: 1135px) {
    h1 {
        font-size: var(--font-40) !important;
    }

    header .header__txt p, .skills p, .skills_soft_txt h3, .soft__skills--list li, .work__txt p, .about__text .social--p {
        font-size: var(--font-25);
    }

    .skills h1 {
        margin: 40px 0;
    }
    
    .skiils__content {
        margin-top: 60px;
    }
    
    .skill--icon {
        font-size: 100px;
    }
    
    .skill--icon p {
        font-size: var(--font-20);
    }
    
    .i--twcss p {
        font-size: var(--font-35);
    }

    .work__txt h1 {
        margin: 70px 0 40px 0;
    }

    .about {
        height: 1125px;
    }

    .about__text h1 {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1135px) {
    .about {
        height: 1090px;
    }
    
    .about__text {
        padding: 0 25px;
    }

    .social--icon {
        font-size: 50px;
    }

    .social--icon a > p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1125px)  {
    .proyect--detail--text {
        padding: 0;
    }
    
    .about {
        flex-wrap: wrap;
        height: 1800px;
    }
    
    .about__img {
        width: var(--p100);
    }

    .about__img img{
        position: relative;
        bottom: 150px;
    }

    .about__text {
        width: var(--p100);
        position: relative;
        bottom: 1380px;
    }

    .social--icon {
        font-size: 80px;
        padding-bottom: 300px;
    }

    .social--icon a > p {
        font-size: var(--font-16);
    }
}

@media screen and (max-width: 902px) {
    header {
        height: 677px;
    }

    header .header__icons {
        top: 250px;
    }

    header .header__txt {
        top: 425px;
    }

    .work__txt {
        margin-bottom: 70px;
    }

    .work__proyects {
        margin: 0;
    }

    .work__proyect {
        margin: 0 40px 65px 40px;
    }

    .about__img img {
        bottom: 95px;
    }
    
    .about__text {
        bottom: 1000px;
    }

    .about__text .social--p {
        margin-top: 95px;
    }

    .social--icon {
        padding-bottom: 200px;
    }
}

@media screen and (max-width: 840px) {
    header {
        height: 633px;
    }

    header .header__icons {
        top: 225px;
    }

    header .h__icon i {
        font-size: var(--font-30);
    }

    .i--twcss p {
        font-size: var(--font-25);
    }

    header .header__txt {
        top:  340px;
    }

    .skill--icon {
        font-size: 75px;
    }

    .skills_softs {
        height: 450px;
    }

    .skills_soft_txt {
        margin-left: 12px;
    }

    .soft__skills--list li {
        font-size: var(--font-20);   
    }

    .proyect--detail--text p {
        margin: 20px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: var(--font-35) !important;
    }

    .skiils__content h3, .skills_soft_txt h3, .proyect--title h3 {
        font-size: var(--font-25);
    } 

    header .header__txt p, .skills p, .skills_soft_txt h3, .soft__skills--list li, .work__txt p, .about__text p, .about__text .social--p {
        font-size: var(--font-20);
    }

    header {
        height: 579px;
    }

    nav .header__logo p  {
        font-size: var(--font-16);
    }

    header .h__icon p {
        font-size: var(--font-18);
    }

    header .header__img img {
        position: relative;
        width: 900px;
    }

    .skill--icon {
        font-size: 60px;
    }

    .skill--icon p {
        font-size: var(--font-18);
    }

    .i--twcss p{
        font-size: var(--font-25);
    }

    .proyect--detail--text {
        padding: 0 15px;
    }

    .proyect--detail--text p, .proyect--detail--text ul {
        font-size: var(--font-20);
    }

    .about__img img {
        bottom: 0;
    }

    .about__text {
        bottom: 560px;
    }

    .social--icon a > p {
        display: none;
    }
}

@media screen and (max-width: 722px) {
    header .h__icon i {
        font-size: var(--font-25);
    }
    
    header .header__img img {
        right: 165px;
    }

    .skills_softs {
        height: 800px;
        flex-wrap: wrap;
    }

    .skills_soft_txt {
        width: var(--p100);
        padding: 30px 40px;
    }

    .skills_soft_img {
        width: var(--p100);
        overflow: hidden;
    }

    .skills_soft_img img {
        bottom: 430px;
    }

    .about__text  {
        bottom: 460px;
    }
}

@media screen and (max-width: 624px) {
    header {
        height: var(--mobile-H);
    }
    
    .about__text  {
        bottom: 250px;
    }

    .social--icon {
        font-size: 60px;
    }

    .skills_soft_img img {
        bottom: 230px;
    }
}

@media screen and (max-width: 518px) {
    h1 {
        font-size: var(--font-25) !important;
    }

    header .header__txt p, .skills p, .skills_soft_txt h3, .soft__skills--list li, .work__txt p, .about__text p, .about__text .social--p, .proyect--detail--text p, .proyect--detail--text ul  {
        font-size: var(--font-16);
    }

    .skiils__content h3, .skills_soft_txt h3, .proyect--title h3 {
        font-size: var(--font-20);
    } 
    
    nav .header__logo {
        margin: 35px;
    }

    nav .header__lenguage {
        margin: 50px 30px;
    }

    header .header__img img {
        right: 50px;
    }

    header .header__icons {
        top: 215px;
    }

    header .h__icon i {
        font-size: var(--font-20);
    }

    header .h__icon p {
        font-size: var(--font-16);
    }

    header .header__txt {
        top: 310px;
    }

    .skills_soft_txt {
        margin: 0;
        padding: 30px;
    }

    .skills_soft_txt h3 {
        margin: 23px 0;
    }

    .skills_soft_img img {
        bottom: 140px;
    }

    .proyect--detail--text p {
        margin: 20px 0;
    }

    .about {
        height: 1510px;
    }
}

@media screen and (max-width: 481px) {
    nav .header__lenguage {
        margin: 40px 20px;
    }

    header .header__img img {
        right: 200px;
        width: 760px;
    }

    header .header__icons {
        top: 240px;
    }

    header .h__icon p, .skill--icon p {
        font-size: var(--font-14);
    }

    header .header__txt {
        padding: 0;
        top: 340px;
    }

    .skills h1 {
        margin: 35px 0;
    }

    .skills p {
        margin: 20px;
    }

    .skiils__content {
        margin-top: 40px;
    }

    .skill--icon {
        font-size: 50px;
    }

    .i--twcss p{
        font-size: var(--font-20);
    }

    .skills_softs {
        margin-top: 40px;
        height: 690px;
    }

    .skills_soft_txt {
        padding: 15px;
    }

    .work__txt {
        margin-bottom: 50px;
    }

    .work__txt h1 {
        margin: 50px 0 40px 0;
    }

    .work__txt p {
        margin: 30px;
    }

    .work__proyect {
        margin: 0 15px 65px 15px;
    }

    .proyect--detail--text ul {
        margin: 15px;
    }

    .about {
        height: 1410px;
    }

    .about__text .social--p {
        margin-top: 80px;
    }

    .go_up {
        right: 30px;
        width: 90px;
        height: 90px;
        font-size: 55px;
    }
}

@media screen and (max-width: 431px) {
    header .h__icon p, .skill--icon p, .proyect--detail--text p, .proyect--detail--text ul {
        font-size: var(--font-10);
    }

    .skill--icon {
        font-size: 40px;
        margin: 0;
    }

    .i--twcss p{
        font-size: var(--font-16);
    }

    .work__proyect {
        margin: 0 8px 65px 8px;
    }

    .proyect--detail--text ul {
        margin: 10px;
    }

    .about {
        height: 1325px;
    }

    .about__text {
        padding: 0 15px;
    }

    .about__text .social--p {
        margin-top: 65px;
    }

    .social--icon {
        font-size: 50px;
    }

    .go_up {
        right: 25px;
        bottom: 30px;
        width: 70px;
        height: 70px;
        font-size: 40px;
    }
}

@media screen and (max-width: 431px) {
    header .header__txt h1 {
        font-size: 21px !important;
    }
}

@media screen and (max-width: 321px) {
    header .header__txt p {
        margin: 0 20px;
    }
    
    .about {
        height: 1180px;
    }
}

/* ////////////////////////// ANIMATIONS ///////////////////////////////// */
#load__container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(4, 4, 4, 0.95);
    position: fixed;
    z-index: 100;
    transition: all 0.5s ease-in-out;
}

#load--element {
    border: 15px solid var(--white);
    border-top-color: var(--black);
    border-top-style: groove;
    border-bottom-color: var(--black);
    border-bottom-style: groove;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    animation-name: loading;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loading {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.typing--animation {
    width: 29ch;
    border-right: 3px solid var(--white);
    white-space: nowrap;
    overflow: hidden;
}

.typing--animation.active {
    animation-delay: .4s;
    animation-name: typing, cursor;
    animation-duration: 1s, 0.3s;
    animation-timing-function: steps(28), step-end;
    animation-iteration-count: 1, infinite;
    animation-direction: alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.icon--animation:hover {
    animation-name: jump;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes jump {
    0% {
        transform: translateY(10px);
    }
    25% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}