:root {
    --mobile-H: 568px;
    --prompt: 'Prompt', sans-serif;
    --open-sans: 'Open Sans Condensed', sans-serif;
    --white: white;
    --mobile-W: 320px;
    --font-mayus: 24px;
    --font-normal: 16px;
    --font-minim: 10px;
    --black: black;
    --gray: #F5F5F5
}

/* //////////        ICONS COLORS          ////////////// */

.i--html i{
    color: #f14a29;
}

.i--css i{
    color: #01b5f2;
}

.i--js i{
    color: #f7e018;
}

.i--py i{
    color: #3771a2;
}

.i--boots i{
    color: #7952b3;
}

.i--vue i{
    color: #3fb984;
}

.i--node i{
    color: #3c873a;
}

.i--dkr i{
    color: #2496ec;
}

.i--git i{
    color: #f05030;
}

/* //////////        STANDAR          ////////////// */

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--open-sans);
}

p, h3 {
    font-family: var(--prompt);
}

a {
    text-decoration: none;
    color: var(--white);
}

/* //////////        HEADER          ////////////// */

header {
    height: var(--mobile-H);
    max-width: var(--mobile-W);
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}

nav {
    max-width: var(--mobile-W);
    display: flex;
    position: absolute;
    justify-content: space-between;
}

nav .header__logo {
    margin: 30px;
    z-index: 2;
}

nav .header__logo p {
    font-family: var(--prompt);
    font-weight: bold;
    margin: 0;
    color: var(--white);
}

nav .header__menu {
    margin: 30px;
    z-index: 2;
}

nav .header__menu i{
    color: var(--white);
    font-size: 30px;
}

header .header__img img {
    width: auto;
    height: 568px;
    position: relative;
    right: 230px;
}

header .header__txt {
    position: absolute;
    max-width: var(--mobile-W);
    text-align: center;
    color: var(--white);
    top: 300px;
    box-sizing: border-box;
    padding: 10px;
}

header .header__icons {
    max-width: var(--mobile-H);
    color: var(--white);
    position: absolute;
    display: flex;
    top: 250px;
    justify-content: space-around;
}

header .h__icon {
    font-size: 20px;
}

header .header__txt h1 {
    font-size: 24px;
    font-weight: 900;
    margin: 0 20px 30px 20px ;
}

header .header__txt p {
    font-size: 16px;
}

/* //////////        SKILLS         ////////////// */

.skills {
    max-width: var(--mobile-W);
    text-align: center;
    box-sizing: border-box;
}

.skills h1 {
    font-size: var(--font-mayus);
    margin-top: 40px;
}

.skills p {
    font-weight: var(--font-normal);
    margin: 16px 20px;
}

.skiils__contents {
    margin-top: 50px;
}

.skills__icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.skill--icon {
    margin: 8px 15px;
    font-size: 45px;
}

.skill--icon p{
    font-size: var(--font-minim);
    margin: 0;
    font-weight: bolder;
}

.i--twcss p{
    color: #1ab1ba;
    font-weight:500;
    font-size: 14px;position: relative;
    top: 15px
}

.skills_softs {
    background: var(--black);
    color: white;
    box-sizing: border-box;
    padding: 15px 0;
}

.skills_softs h3 {
    font-size: var(--font-normal);
    font-weight: bolder;
    margin: 30px 10px;
}

.soft__skills--list {
    text-align: initial;
}
.soft__skills--list li {
    font-family: var(--prompt);
    font-size: var(--font-normal);
}
/* //////////        WORK         ////////////// */

.work__content {
    max-width: var(--mobile-W);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
}
.work__content img {
    width: 100%;
}

.work__content h1 {
    color: var(--white);
    background-color: black;
    padding: 5px 50px;
    position: absolute;
    z-index: 2;
    margin-bottom: 130px;
}

.work__txt {
    max-width: var(--mobile-W);
}

.work__txt ul li {
    font-size: var(--font-normal);
    font-family: var(--prompt);
}

.work__proyect {
    box-sizing: border-box;
    max-width: var(--mobile-W);
    text-align: center;
    margin-top: 40px;
}

.proyect--title {
    background: var(--black);
    font-size: var(--font-normal);
}

.proyect--title h3 {
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.proyect--img {
    max-width: var(--mobile-H);
}

.proyect--img img {
    width: 100%;
}

.proyect--detail--text {
    margin: 15px;
    text-align: justify;
    font-size: var(--font-normal);
}

.proyect--detail--text ul {
    font-size: var(--font-normal);
    font-family: var(--prompt);
}

.proyect--detail--more {
    background: var(--gray);
}